<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.svv.lu/lang/SMRL"
			class = "lu.svv.lang.sMRL.SMRLPackage"
			genModel = "model/generated/SMRL.genmodel" />
	</extension>
</plugin>
